@use '../variables' as *;

@mixin drawer-styles($isModal: false) {
  .overlay {
    position: fixed;
    inset: 0;
    background-color: rgba($black, 0.7);
    z-index: if($isModal, 30, 40);
  }

  .content {
    max-height: 100vh;
    background-color: $gray-100;
    display: flex;
    flex-direction: column;
    border-top-left-radius: size(4);
    border-top-right-radius: size(4);
    margin-top: size(24);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: if($isModal, 40, 50);
  }

  .handle {
    margin-left: auto;
    margin-right: auto;
    flex-shrink: 0;
    background-color: $gray-300;
    margin-bottom: size(4);
    border-radius: 9999px;
    width: size(12);
    height: size(1.5);
  }

  .body {
    overflow: auto;
    padding: size(4);
    flex: 1 1 0%;
    border-top: size(1);
    background-color: $white;
    overflow: auto;
    border-top-left-radius: size(4);
    border-top-right-radius: size(4);
  }
}