.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: size(10);
  height: auto;
  background: $blue-600;
  border-radius: size(2);
  color: $white;
  flex-shrink: 0;

  input[type="checkbox"] {
    display: none;
  }
}

.unchecked {
  opacity: 0.3;
}