@use './input' as *;

.field {
  @include input;
  width: 100%;
  background: $white;
  display: flex;
  align-items: center;
}

.is-invalid {
  border-width: 2px;
  border-color: $red-400;
}

.is-valid {
  &:focus {
    border-width: 2px;
    border-color: $blue-400;
  }
}

.err-message {
  @include text-xs;
  color: $red-400;
  margin-top: size(1);
}

.action-bar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: size(1);
  margin-bottom: size(1);
}

.mobile-date-time-picker-dialog {
  max-height: 100vh !important;
  min-height: fit-content;
  min-width: fit-content;
}
