.root {
  width: size(10.4);
  height: size(5.6);
  background-color: $gray-200;
  border-radius: 9999px;
  position: relative;
  transition: background-color 100ms;

  &:disabled {
    cursor: not-allowed;
    background-color: rgba($gray-200, 0.4);
  }
}

.root[data-state='checked'] {
  background-color: $green-500;
  transition: background-color 100ms;

  &:disabled {
    background-color: rgba($green-500, 0.4);
  }
}

.thumb {
  display: block;
  width: size(4.8);
  height: size(4.8);
  background-color: $white;
  border-radius: 9999px;
  transition: transform 100ms;
  transform: translateX(1.6px);
  will-change: transform;
}

.thumb[data-state='checked'] {
  transform: translateX(size(5.2));
}