input,
textarea,
button,
select,
div,
a {
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  height: 100vh !important;
  width: 100%;
  overflow: hidden;

  &::-webkit-scrollbar {
    width: 0;
  }

  @include mq() {
    &::-webkit-scrollbar {
      width: 100%;
    }
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}