.icon {/* !important がないと、他のスタイルに上書きされてしまう*/
  position: relative !important;
  height: size(7) !important;
  width: size(7) !important;

  @include mq() {
    height: size(9) !important;
    width: size(9) !important;
  }
}