@use '../button' as *;

.mobile-btn {
  @include button($blue-500);
  @include text-3xl;
  display: flex;
  justify-content: center;
  align-items: center;
  width: size(12);
  height: size(12);
  color: $white;
  position: fixed;
  bottom: size(16);
  right: size(5);

  @include mq() {
    display: none;
  }
}

.desktop-btn-container {
  display: flex;
  justify-content: flex-end;
}

.desktop-btn {
  @include button-with-icon($blue-500);
  @include text-base;
  color: $white;
  padding: size(1.5) size(4);
  display: none;

  @include mq() {
    display: block;
  }
}