@use '../button' as *;

.container {
  padding-top: size(15);
  width: 100%;
  height: 100%;

  @include mq() {
    padding-top: size(10);
    max-width: size(180);
    margin: 0 auto;
  }
}

.form-container {
  padding: 0 size(3);
  height: 100%;
  width: 100%;
}

@mixin action-button($color) {
  width: 75%;
  @include button($color);
  color: $white;
  padding: size(2) size(3);

  @include mq() {
    width: size(30);
  }
}

.submit-button {
  @include action-button($blue-600);
}

.pause-restart-button {
  @include action-button($gray-600);
}

.is-restart-button {
  @include button($green-600);
}

.delete-button {
  @include action-button($red-600);
}

.button-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: size(5);

  @include mq() {
    justify-content: flex-end;
  }
}

.buttons-container {
  @include mq() { 
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: size(5);
  }
}

.mobile-liner-progress {
  width: 100%;
  position: absolute;
  top: 0;

  @include mq() {
    display: none;
  }
}

.desktop-liner-progress {
  display: none;

  @include mq() {
    display: block;
    width: 100%;
    top: 0;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}