@use '../../button' as *;

.container {
  position: relative;
  height: 100vh;
  background: $gray-100;

  @include mq() {
    height: 100%;
  }
}

.form-container {
  @include mq() {
    max-width: size(100);
    margin: 0 auto;
    padding: size(5) 0;
  }
}

.units-container {
  margin-top: size(2);
  margin-left:  size(2);
  margin-right: size(2);
}

.unit-container {
  margin-bottom: size(3);
}

.input-container {
  display: flex;
  align-items: center;
}

.delete-button {
  margin-bottom: size(1);
  margin-left: size(2);
}

.is-delete-button-disabled {
  cursor: not-allowed;
  color: $gray-400;
}

.err-message {
  @include text-xs;
  color: $red-400;
  margin-top: size(1);
}

.add-unit-button {
  @include text-sm;
  @include button-with-icon($blue-500);
  color: $white;
  padding: size(2) size(4);
  margin-top: size(2);
  margin-bottom: size(3);
}

.desktop-liner-progress {
  display: none;

  @include mq() {
    display: block;
    width: 100%;
    top: 0;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}