.footer {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  bottom: 0;
  z-index: 40;
  align-items: center;
  background: #fff;
  box-shadow: 0 -2px 5px rgba($gray-200, 0.1);
  height: size(13);

  @include mq() {
    display: none;
  }
}